body {
    background: lightgrey;
}
p {
    background-color: aquamarine;
    font-size: 20px;
}
.navigation{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0;
    
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(172, 170, 168);
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
  
li a:hover {
    background-color: #cd1523;
    font-size: larger;
    color: black;
}
  
 
/* if it starts with . it is for class, and it is start with # it is for id      */
.header {
    background-color: aqua;
    background-position: center ;
    height: 50vh;
    display: flex;
    align-content: left;
    font-size: 30px;
    /* justify-content: space-evenly; */
    /* background-image: url(/Data/bannerGreen.jpg) ; */
    background-image: url(https://www.solent.ac.uk/cms/media-library/images/hero-banners/homepage/806.xfb4e19ef.jpg?w=3840&q=100&f=webp) ;
}
.headerParagraph{
    font-size: 50px;
    color: rgb(90, 31, 31);
    align-content: center;
    background-color: transparent;
}

.solentLogo {
    align-content: center;
    /* display: flex;
    align-content: start;
    justify-content: left; */
}
#wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: gold;
}
.profileImage {
    background-color: azure;
    height: 10vh;
    column-width: auto;
    align-items: center;


}
.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    background-color:cornflowerblue;



}

.sub-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: auto;
    align-items: center;

}

.introduction-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    background-color:rgb(55, 141, 89);

}

.sud-introductionLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    background-color: beige;
    width: 75%;
}
.sud-introductionRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    background-color: beige;
    width: 25%;
}


.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: auto;
    background-color:cornflowerblue;
    align-items: flex-start;

}

.sub-footer {
    flex: 1;
    padding: 20px;
}


/* Activities HTML */

.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid: gap 20px;
    background-color: #2196F3;
    padding: 10px;

  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
  }
  #printerPicture {
    
    width: 60vh;


  }
  #compositLabPicture{
    width: 60vh;

  }
  #manufacturingLabPicture{
    width: 60vh;

  }
  #animationStudiosPicture{
    width: 60vh;

  }
