    <div class="footer-container">
        <div class="sub-footer">
            <h1>Our Address</h1>
            <p>Solent University, East Park Terrace, Southampton, SO14 0YN</p>
            <div class="visitorCounter">
                <h1>Visitor counter</h1>
                <p id="visitorCounter">Here should be the number of visitors!</p>
            </div>
        </div>
        <div class="sub-footer">
            <h1>About</h1>
            <p id="languagePar">Choose a language and you will know my opinion!</p>
            <p>Select Language</p>
            <select data-placeholder="Choose a Language...">
                <option>Choose a language!</option>
                <option value="EN">English</option>
                <option value="HU">Hungarian</option>
                <option value="GE">German</option>
                <option value="FR">French</option>
            </select>
        </div>
        <div class="sub-footer">
            <h1>Follow us!</h1>
            <p>Click on the icons to find us on social media!</p>
            <ul class="social-icons">
                <li>Facebook <a href="https://www.facebook.com/SolentUniversity/?locale=en_GB" class="icon-link"><i class="fab fa-facebook-f"></i></a></li>
                <li>Twitter <a href="https://twitter.com/solentuni" class="icon-link"><i class="fab fa-twitter"></i></a></li>
                <li>Insta <a href="https://www.instagram.com/solentuniversity/" class="icon-link"><i class="fab fa-instagram"></i></a></li>
                <li>LinkedIn <a href="https://www.linkedin.com/school/solentuni/" class="icon-link"><i class="fab fa-linkedin"></i></a></li>
                <li>Apple <a href="https://www.apple.co.uk/" class="icon-link"><i class="fa-brands fa-apple"></i></a></li>
                <li>Github <a href="#" class="icon-link"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
    </div>

    <script src="/js/myScript.js"></script>
</body>

</html>
