<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://kit.fontawesome.com/b17e95f49f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <div class="solentLogo">
            <img src="https://www.solent.ac.uk/graphics/logo/rebrandLogo.svg" alt="Logo">
        </div>
        <p class="headerParagraph">SOLENT University Southampton</p>
    </div>

    <div class="navigation">
        <ul class="navbar">
            <li><a class="nav" href="/">About</a></li>
            <li><a class="nav" href="/activities">Activities</a></li>
            <li><a class="nav" href="/modulesb">Modules</a></li>
            <li><a class="nav" href="/registration">Registration</a></li>
        </ul>
    </div>
