<%- include('partials/header', { title: 'Activities' }) %>


        <div class="activityIntroduction">
            <h1>Activity introduction.</h1>
            <p>Here you can find what kind of activities are available around the Campus!</p>
        </div>

        <div class="grid-container">
            <div class="grid-item">
                <h2>H3D modelling workshop</h2>
                <p>
                    Three- and two-dimensional model-making workshop for plastics and timber-based projects.</p>
            </div>
            <div class="grid-item">
                <img id="printerPicture" src="/Data/3d-modelling-lab-1200.x5d411028.webp" alt="3d Printer"> 

            </div>
            <div class="grid-item">
                <h2>Advanced composites laboratory</h2>

                <p>The perfect blend of technology and expertise - Solent's advanced composites laboratory is backed by 40 years of experience.</p>
            </div>
            <div class="grid-item">
                <img id="compositLabPicture" src="/Data/advanced-composites-lab-1200.x424807ef.webp" alt="Composite lab"> 


            </div>
            <div class="grid-item">
                <h2>Advanced manufacturing laboratory</h2>
                <p>Discover Solent's 3D printing and robotics systems, laser cutting, CNC and ancillary finishing services.</p>
            </div>
            <div class="grid-item">
                <img id="manufacturingLabPicture" src="/Data/advanced-manufacturing-lab-1200.x4d4dcd57.webp" alt="Manufacturing lab"> 


            </div>
            <div class="grid-item">
                <h2>Animation studios</h2>
                <p>Dedicated studios for 2D, 3D and stop-motion animation.</p>
            </div>
            <div class="grid-item">
                <img id="animationStudiosPicture" src="/Data/animation-studios-1200.x4045c7b6.webp" alt="Animation Studio"> 

            </div>
          </div>
          
       

<%- include('partials/footer') %>
          