<%- include('partials/header', { title: 'Index' }) %>



<div class="container">
    <div class="profile-container">
        <div class="sub-profile">
            <div class="img-wrap">
                <img src="data/solenthistory.webp" height="300px" width="400px" alt="History Photo">
            </div>
            <h1 class="description">History</h1>
            <p class="description">
                Solent has been a university since July 2005, but it has a long and complex educational history.
                Incorporated as an independent higher education institution in 1989, the University's origins can be traced back to a private School of Art founded in 1855. Mergers between Southampton College of Art, the College of Technology and the College of Nautical Studies at Warsash laid the foundations for what is now Solent University.
                Since becoming a university, Solent has helped over fifty thousand students from all walks of life to make the most of their potential. Guided by four Vice-Chancellors in turn, the University has changed dramatically over the past ten years – from campus improvements to the latest state-of-the-art facilities.
            </p>
        </div>
        <div class="sub-profile">
            <div class="img-wrap">
                <img src="data/profile2.jpeg" height="300px" width="400px" alt="Ambition Photo">
            </div>
            <h1 class="description">Ambition</h1>
            <p class="description">
                We are dedicated to the pursuit of university education that enables learners from all backgrounds to become enterprising citizens and responsible leaders. We are committed to promoting economic and social prosperity for the communities we serve.
                Put simply - we want Solent graduates to be the passionate, creative professionals of the future, bringing expertise and energy into their communities and workplaces.


                Based in the lively and diverse city of Southampton, Solent University is home to a global community of students from all walks of life.
                We've got award-winning teaching, first-class facilities, and strong industry links, getting you ready for employment and ensuring you graduate with the skills employers are looking for.
                Our wide range of courses focus on interdisciplinary learning, meaning you'll work with students from across the University. We have a wide range of support available to make sure you're supported and looked after during your time here.
            </p>
        </div>
        <div class="sub-profile">
            <div class="img-wrap">
                <img src="data/profile3.jpg" height="300px" width="400px" alt="Sample Photo">
            </div>
            <h1 class="description">Our Mission</h1>
            <p class="description">
                Our mission
                To enable our learners to be work-ready, world-ready and future-ready.</br>
                Based in the lively and diverse city of Southampton, Solent University is home to a global community of students from all walks of life.
                We've got award-winning teaching, first-class facilities, and strong industry links, getting you ready for employment and ensuring you graduate with the skills employers are looking for.
                Our wide range of courses focus on interdisciplinary learning, meaning you'll work with students from across the University. We have a wide range of support available to make sure you're supported and looked after during your time here.
            
            </p>
        </div> 
    </div>

    <div class="introduction-container">
        <div class="sud-introductionLeft">
            <h1>Introduction from Solent.</h1>
            <h2>Welcome</h2>

            <p>As we launch Solent’s new strategy, we are proud to share our mission, vision and values. Together these define who we are, what we stand for, why we matter and how we will prepare our students for a successful future. 
                The education and opportunities we provide will change our students’ lives and, through their work and achievements, make the world a better and more sustainable place.
            </p>
            <h2>Our mission</h2>
            <p>To enable our learners to be work-ready, world-ready and future-ready.
            </p>
            <h2>Our vision</h2>
            <p>By 2025 we will enable students to succeed by being a university that:
            <ol>
                <li>Transforms the lives of people from all backgrounds, through learning that is relevant to the real world.</li>
                <li>Provides an outstanding student experience through our exceptional staff and facilities.</li>
                <li>Excels at providing its learning community with the confidence, skills, knowledge and experience they need to successfully pursue fulfilling lives and life-changing careers.</li>
                <li> Delivers a unique curriculum shaped around inspiring industrial partnerships, ground-breaking professional insights, knowledge exchange, and research.</li>
                <li>Makes a material impact on environmental sustainability.</li>
            </ol>
            </p>
            <h2>Our values</h2>
            <p> We and our work continue to be shaped, informed and inspired by our values of Respect, Ownership, Inclusivity, Engagement, Integrity, and Teamwork.
            Together, these values create a university that is open to all, which celebrates different, and demonstrates a commitment to social justice and equality of opportunity.
            </p>
            <p>For more info, please click on this link. <a href="https://www.solent.ac.uk/">Solent University</a></p>
                
                
        </div>

        <div class="sud-introductionRight">
            <h2>Our Big Red</h2> 
            <img src="data/redsolent.png" height="300px" width="400px" alt=" Photo">    
            <h2>Our Sport Centre</h2>       
            <img src="data/sportscentre.jpg" height="300px" width="400px" alt="Ambition Photo">               

        </div>
    </div>
</div>

<%- include('partials/footer') %>

