<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modules</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/b17e95f49f.js" crossorigin="anonymous"></script> <!-- Created my own account in fontawesome.com website to be able to display the icons in the footer section. -->
</head>

<body>
    <div class="container">

        <div class="header">
            <div class="solentLogo">
                <img src="https://www.solent.ac.uk/graphics/logo/rebrandLogo.svg" alt="Logo">
                <!-- <img src="https://www.solent.ac.uk/graphics/logo/rebrandLogoSticky.svg" alt="Logo"> -->
            </div>

            <p class="headerParagraph">SOLENT Univesrsity Southampton</p>

        </div>

        <div class="navigation">
            <ul class="navbar">
                <li><a class="nav" href="index.html">About</a></li>
                <li><a class="nav" href="activities.html">Activities</a></li>
                <li><a class="nav" href="modules.html">Modules</a></li>
                <li><a class="nav" href="registration.html">Registration</a></li>
            </ul>

        </div>

        <h1>Modules Introduction</h1>

        <table id="modules-table">
            <thead>
                <tr>
                    <th>Id Code <button onclick="sortTable('idCode')">Sort</button></th>
                    <th>Module Name <button onclick="sortTable('moduleName')">Sort</button></th>
                    <th>Semester <button onclick="sortTable('semester')">Sort</button></th>
                    <th>Description <button onclick="sortTable('description')">Sort</button></th>
                </tr>
            </thead>
            <tbody>

                <% if (modulesData.length !== 0) { %>
                    <% modulesData.forEach(function(module) { %>
                        <tr>
                            <td><%= module.idCode %></td>
                            <td><%= module.moduleName %></td>
                            <td><%= module.semester %></td>
                            <td><%= module.description %></td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="4">No modules found</td>
                    </tr>
                <% } %>

            </tbody>
        </table>

       





<!-- From here is the Footer part! -->
        <div class="footer-container">
            <div class="sub-footer">
                <h1>Our Address</h1>
                <p>Solent University, East Park Terrace, Southampton, SO14 0YN</p>
                <div class="visitorCounter">
                    <h1>Visitor counter</h1>
                    <p id="visitorCounter">Here should be the number of visitors!</p>

                </div>


            </div>
            <div class="sub-footer">
                <h1>About</h1>
                <p id="languagePar">Choos a language and you will know my opinion!</p>

                <p>Select Language</p>
                <select data-placeholder="Choose a Language...">
                    <option>Choos a language!</option>
                    <option value="EN">English</option>
                    <option value="HU">Hungarian</option>
                    <option value="GE">German</option>
                    <option value="FR">French</option>
                    
                    

                </select>
            </div>
            <div class="sub-footer">
                <h1>Follow us!</h1>
                <p>Click on the icons to find us on social media!</p>
                <ul class="socil-icons">
                    <li>Facebook <a href="https://www.facebook.com/SolentUniversity/?locale=en_GB" class="icon-link"><i class="fab fa-facebook-f"></i></a></li>
                    <li>Twitter <a href="https://twitter.com/solentuni" class="icon-link"><i class="fab fa-twitter"></i></a></li>
                    <li>Insta <a href="https://www.instagram.com/solentuniversity/" class="icon-link"><i class="fab fa-instagram"></i></a></li>
                    <li>LinkedIn <a href="https://www.linkedin.com/school/solentuni/" class="icon-link"><i class="fab fa-linkedin"></i></a></li>
                    <li>Apple <a href="https://www.apple.co.uk/" class="icon-link"><i class="fa-brands fa-apple"></i></a></li>
                    <li>Github <a href="#" class="icon-link"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>



        </div>

    </div>

<script src="myScript.js"></script>


</body>

</html>